/*Overrides browser default.
Makes sure 100% of the page is utilized*/
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm21-smoke-bb-5_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c8347a73d6427dda5d03bd1100c39354");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}
#page-container {
  position: relative;
}
header {
  text-align: center;
  margin-top: -30px;
  width: 100%;
  height: 110px;
  background-color: white;
}
.linksInHeader {
  width: 960px;
  display: inline-block;
}
a {
  text-decoration: none;
}
.linkName {
  color: white;
}
.name {
  width: 270px;
  height: 87px;
  line-height: 90px;
  vertical-align: auto;
  background-color: rgb(76, 173, 253);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.linkList {
  color: rgb(255, 122, 215);
}
ul {
  margin: -80px 0px 0px 680px;
  position: absolute;
}
ul li {
  list-style: none;
  display: inline-block;
  margin: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.straightLine {
  color: rgb(255, 228, 247);
}
.belowHeader {
  margin-top: -1.5px;
  border: 0;
  width: 100%;
  height: 2px;
  color: rgb(253, 141, 219);
  background-color: rgb(253, 141, 219);
}
section {
  width: 900px;
  margin: 40px auto 100px;
  border-style: solid;
  border-color: rgb(255, 191, 236);
  border-width: 1px;
  padding: 10px 30px 10px 30px;
  background-color: white;
}
.sectionPortfolio {
  width: 900px;
  height: 1150px;
  margin: 40px auto 100px;
  border-style: solid;
  border-color: rgb(255, 191, 236);
  border-width: 1px;
  padding: 10px 30px 10px 30px;
  background-color: white;
}
.aboutMeTitle,
.contactTitle,
.portfolioTitle {
  width: 200px;
  color: rgb(76, 173, 253);
  font-family: Georgia, "Times New Roman", Times, serif;
}
article,
form {
  margin-top: 25px;
}
.belowAboutMe,
.belowContact,
.belowPortfolio {
  border: 0;
  height: 2px;
  background-color: rgb(252, 172, 228);
}
.catPic {
  background-image: url(../images/cat.jpg);
  background-size: cover;
  margin-right: 25px;
  width: 180px;
  height: 134px;
  float: left;
  margin-top: 12px;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  line-height: 33px;
  margin-top: -12px;
  color: rgb(255, 84, 204);
}
label {
  color: rgb(252, 103, 207);
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input {
  width: 100%;
  padding: 8px;
  margin: 6px 0px -4px;
  display: inline-block;
  border: 2px solid rgb(252, 217, 241);
  box-sizing: border-box;
}
::placeholder {
  color: rgb(255, 122, 215);
}
#message {
  width: 100%;
  padding: 8px;
  margin: 6px 0px -4px;
  display: inline-block;
  border: 2px solid rgb(252, 217, 241);
  box-sizing: border-box;
  height: 240px;
  resize: none;
}
button {
  border: none;
  color: white;
  background-color: rgb(76, 173, 253);
  height: 35px;
  width: 107px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0 20px;
}
button:hover {
  background-color: rgb(37, 139, 223);
}
.bunnyWithCaption,
.monkeyWithCaption,
.hedgehogWithCaption,
.pigWithCaption,
.puppyWithCaption {
  position: relative;
  width: 280px;
  float: left;
  margin-right: 50px;
}
.bunny,
.monkey,
.hedgehog,
.pigIceCream,
.puppyGlasses {
  margin-top: 50px;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}
.caption1,
.caption2,
.caption3,
.caption4,
.caption5 {
  position: absolute;
  width: 280px;
  height: 30px;
  background: rgb(73, 164, 224);
  color: white;
  border-radius: 10%;
  text-align: center;
  font-size: large;
  padding-top: 10px;
  bottom: 5%;
}
#content-wrap {
  padding-bottom: 68.9px;
}
footer {
  position: absolute;
  bottom: 0;
  height: 54px;
  width: 100%;
  background-color: rgb(255, 84, 204);
  text-align: center;
  border-top: solid;
  border-top-color: rgb(76, 173, 253);
  border-top-width: 7px;
}
.copyrightP {
  margin-top: 20px;
  font-size: 10px;
  color: rgb(255, 191, 236);
}

@media screen and (max-width: 980px) {
  .linksInHeader {
    width: 880px;
  }
  ul {
    margin: -80px 0px 0px 610px;
  }
  section {
    width: 530px;
    margin: 40px 48px 450px;
  }
}

@media screen and (max-width: 768px) {
  .linksInHeader {
    width: 730px;
  }
  ul {
    margin-left: 450px;
  }
  section {
    width: 665px;
    margin-left: 20px;
  }
}

/* @media screen and (max-width: 640px) {

} */
