header {
  text-align: center;
  margin-top: -30px;
}
.linksInHeader {
  width: 960px;
  display: inline-block;
}
.name {
  width: 200px;
  line-height: 80px;
  vertical-align: auto;
  background-color: rgb(28, 184, 132);
}
ul {
  margin: -100px 0px 0px 680px;
  position: absolute;
}
ul li {
  list-style: none;
  display: inline-block;
  margin: 7px;
}
.belowHeader {
  margin-top: -21.5px;
}
section {
  width: 900px;
  margin: 40px auto;
  border-style: solid;
  border-color: gray;
  padding: 10px 30px 10px 30px;
}
.aboutMeTitle {
  width: 200px;
}
article {
  margin-top: 25px;
}
.catPic {
  background-image: url(../images/cat.jpg);
  background-size: cover;
  width: 200px;
  height: 140px;
  float: left;
}
p {
  font-size: 18px;
  line-height: 30px;
}
footer {
  text-align: center;
}
